/* Global */

:root {
  /* Color */
  --color-border-line: #ccc;
  --color-emergency: rgba(255, 0, 0, 0.728);
  --color-summury-background: rgb(240, 240, 240);
  --color-gray: #525252;
  --color-white: white;

  /* Font size */
  --font-page-title: 3rem;
  --font-summury-title: 1.5rem;
  --font-summury-count: 3rem;
  --font-sub-title: 1.6rem;
  --font-radio-button: 1rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

.container {
  /* display: flex; */
}

.pageTitle {
  margin-top: 0;
  font-size: var(--font-page-title);
}

.summryModule {
  width: 230px;
  height: 100px;
  display: flex;
  align-content: center;
  align-items: center;
  border: 1px solid var(--color-border-line);
  margin-right: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  /* background-color: var(--color-summury-background); */
  font-size: var(--font-sub-title);
  font-weight: var(--weight-bold);
  color: var(--color-gray);
}

.summryModuleEmergency {
  width: 230px;
  height: 100px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-right: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-emergency);
  font-size: var(--font-sub-title);
  font-weight: var(--weight-bold);
  color: var(--color-white);
}

.summuryText {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  margin-right: 0.5rem;
}

.summuryTitle {
  font-size: var(--font-summury-title);
  font-weight: var(--weight-regular);
}

.summuryCount {
  font-size: var(--font-summury-count);
}

.summuryCountRed {
  font-size: var(--font-summury-count);
  color: var(--color-emergency-text);
}

.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.itemsSideWrapper {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 20px;
  display: flex;
}
.border {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 420px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
