/*
@import "../../../node_modules/antd/lib/style/themes/default.less";
@white: #ffffff;
@primary-color: #313653;
@primary-color-light: fade(lighten(@primary-color, 5%), 15%);
@layout-header-background:@primary-color;
@layout-sider-background-light: #f9f9f9;
@text-color: #000000;
@table-selected-row-bg: #fbfbfb;
@primary-2: @primary-color-light;
@border-radius-base: 2px;
@input-addon-bg: @primary-color;
*/
